
nav{
    width:100%;
    background-color: rgb(1, 1, 17);
    position: fixed;
    top: 0;
    }
nav>ul{
    text-align: center;
    }
nav>ul>li{
    display: inline-block;
    }
nav>ul>li>a{
    padding: 15px;
    margin-right: o;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: yellow;
}
nav>ul>li>a:hover{
    box-shadow: 0 0 10px rgba(75, 4, 241, 0.1),inset 0 0 1px rgba(33, 241, 5, 0.6);
    background: rgba(240, 97, 40, 0.3);
    color: whitesmoke;
}
body{
    text-align: center;
    font-size: 35px;
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/07/19/dark-black-curved-bloom.jpg");
    background-repeat:repeat;
    background-size: contain;
}
#hme{
    color: snow;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 95px;
}
#hme>p{
    padding-top: 200px;
}

h1{
    padding-top: 90px;
    color: rgb(216, 90, 18);
} 
img{
    border-radius: 20%;
}
#aboutme{
    padding-top: 85px;
}
#projects{
    padding-top: 80px;
}
h2{

}
#sport{
    background-image: url("https://wallpapercave.com/wp/wp3137244.jpg");
    background-repeat:repeat;
    background-size:cover;
    height: 500px;
    width: 500px;
    color: aliceblue;
}
#reso{
    background-image: url("https://images.pexels.com/photos/1450361/pexels-photo-1450361.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat:repeat;
    background-size:cover;
    height: 500px;
    width: 500px;
    color: aliceblue;
}
#pet{
    background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat:repeat;
    background-size:cover;
    height: 500px;
    width: 500px;
    color: aliceblue;
}
.project>ol{
    display: flex;
    justify-content: space-between;
}
.me{
    display: flex;
    color: mintcream;
    justify-content: space-evenly;
}
.per,.mi, .ed, .vi{
    color: snow;
    background-color: dimgray;
}
.hob>ul>li{
    display: flex;
    flex-direction: column;
    color: snow;
}
h2 >b>i{
    color: rgb(218, 90, 31);
}
i{
    color: snow;
}
.ttt{
    color: whitesmoke;
}
.css{
    color: rgb(2, 2, 2);
    background-color: white;
    border-radius: 27%;
}

#foot ,footer{
    color: whitesmoke;
    background-color: darkgray;
}
.key {
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
https://free4kwallpapers.com/uploads/wallpaper-cache/dark-black-curved-bloom-400x270-MM-100.jpg